[Unit]
Description=OpenVPN container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
ExecStart=/usr/bin/docker run --name openvpn -v /data/admin/docker/dockerconfs/openvpn:/etc/openvpn -p 443:1194/tcp --cap-add=NET_ADMIN openvpn
ExecStop=/usr/bin/docker stop -t 2 openvpn
ExecStopPost=/usr/bin/docker rm -f openvpn

[Install]
WantedBy=default.target
