[Unit]
Description=Plex Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
ExecStart=/usr/bin/docker run --log-driver=none --net=host --name=plex -e VERSION=latest -e PUID=999 -e GUID=1111 -v /data/downloads/usenet/complete/series/:/data/tvshows -v /data/downloads/usenet/complete/movies/:/data/movies -v /data/downloads/plex/plexconf/:/config linuxserver/plex
ExecStop=/usr/bin/docker stop -t 2 plex
ExecStopPost=/usr/bin/docker rm -f plex

[Install]
WantedBy=default.target
