[Unit]
Description=Grafana container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=5min
ExecStart=/usr/bin/docker run --memory=1g --log-driver=none -p 3000:3000 --name=grafana -e "GF_SECURITY_ADMIN_PASSWORD=secret" -v /data/stats/grafana:/var/lib/grafana grafana/grafana
ExecStop=/usr/bin/docker stop -t 2 grafana
ExecStopPost=/usr/bin/docker rm -f grafana

[Install]
WantedBy=default.target
